<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<link href="../css/open-iconic-bootstrap.css"
	th:href="@{/css/open-iconic-bootstrap.css}" rel="stylesheet">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
	integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
	crossorigin="anonymous"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
	integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
	crossorigin="anonymous"></script>
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
	integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
	crossorigin="anonymous"></script>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<title>ホーム</title>
</head>

<body>
	<div id="header">
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<img alt="ブランド" src="../img/bootstrap-solid.svg" width="45"
				height="30" />
			<button type="button" class="navbar-toggler" data-toggle="collapse"
				data-target="#Navber" aria-controls="Navber" aria-expanded="false"
				aria-label="ナビゲーションの切替">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="Navber">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active"><a class="nav-link"
						th:href="@{/student/home}">ホーム</a></li>
					<li class="nav-item"><a class="nav-link"
						th:href="@{/student/chat}">チャット</a></li>
					<li class="nav-item"><a class="nav-link"
						th:href="@{/student/request}">申請書作成</a></li>
					<li class="nav-item"><a class="nav-link"
						th:href="@{/student/report}">報告書作成</a></li>
					<li class="nav-item"><a class="nav-link"
						th:href="@{/student/report_log}">報告書倉庫</a></li>
				</ul>
				<ul class="navbar-nav">
					<li class="nav-item"><a class="nav-link" href="#">つじひろや</a></li>
					<li class="nav-item"><a class="nav-link" href="/signout"
						th:hred="@{/signout}"> <span class="oi oi-account-logout"></span>
							<i class="fa fa-sign-out"></i> ログアウト
					</a></li>
				</ul>
			</div>
		</nav>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-10 offset-md-1">
				<div class="row pt-5">
					<h3>申請書・報告書一覧</h3>
				</div>
				<div class="row pt-1">
					<div class="col-md-12 clearfix">

						<div class="float-left">
							<button type="button" class="btn btn-light">
								承認待ち <span class="badge badge-light">1</span>
							</button>
							<button type="button" class="btn btn-primary">
								承認 <span class="badge badge-light">1</span>
							</button>
							<button type="button" class="btn btn-danger">
								拒否 <span class="badge badge-light">1</span>
							</button>
							<button type="button" class="btn btn-secondary">
								完了 <span class="badge badge-light">0</span>
							</button>
						</div>
						<div class="float-right">
							<form class="form-inline my-2 my-lg-0 ">
								<input type="search" class="form-control mr-sm-2"
									placeholder="検索..." aria-label="検索...">
								<button type="submit"
									class="btn btn-outline-success my-2 my-sm-0">検索</button>
							</form>
						</div>
					</div>
				</div>
				<div class="row pt-1">
					<table class="table">
						<thead class="thead-light">
							<tr>
								<th>No</th>
								<th>申請/報告</th>
								<th>実施日</th>
								<th>企業名</th>
								<th>状態</th>
								<th>修正</th>
							</tr>
						</thead>
						<tbody>
							<tr class="" th:each="requestList:${list}">
								<p th:if="${requestList.docType[0] == '0'}">
									<td th:text="${requestList.requestDoc.requestDocId}">クラス</td>
									<td>申請書</td>
									<td th:text="*{#temporals.format(requestList.requestDoc.eventStartDate, 'yyyy年MM月dd日')}">出席番号</td>
									<td th:text="${requestList.requestDoc.corporateOneName}" >クラス
										<p th:if="${requestList.requestDoc != null && requestList.requestDoc.corporateTwoName != null}"  style="display:inline;"	>
											...
										</p>
									</td>
								</p>
								<p th:if="${requestList.docType[0] == '1'}">
									<td th:text="${requestList.reportDoc.reportDocId}">クラス</td>
									<td>報告書</td>
									<td th:text="*{#temporals.format(requestList.reportDoc.eventDate, 'yyyy年MM月dd日')}">出席番号</td>
									<td th:text="${requestList.reportDoc.corporateName}">クラス</td>
								</p>
								<p th:switch="${requestList.consent}">
									<td th:case="0" th:text="承認待ち"></td>
									<td th:case="1" th:text="拒否" class="cancel"></td>
   									<td th:case="2" th:text="承認" class="submit"></td>
   									<td th:case="3" th:text="承認待ち"></td>
   									<td th:case="4" th:text="拒否" class="cancel"></td>
   									<td th:case="5" th:text="完了" class="end"></td>
								    <td th:case="*">対象なし</td>
								</p>
								<div th:if="${requestList.docType[0] == '0'}">
								<form th:action="@{/student/request/edit}" method="post">
										<input type="hidden" name="requestDocId"
											th:value="${requestList.requestDoc.requestDocId}" />
										<input type="hidden" name="consent"
											th:value="${requestList.consent}" />
									<p th:switch="${requestList.consent}">
										<td th:case="0"></td>
										<td th:case="1"><button class="btn-sm btn-primary" type="submit">修正</button></td>									
										<td th:case="2"><button class="btn-sm btn-primary" type="submit">報告</button></td>								
										<td th:case="3"></td>
										<td th:case="4"><button class="btn-sm btn-primary" type="submit">修正</button></td>
										<td th:case="5"></td>
									</p>
									</form>
								</div>
								<div th:if="${requestList.docType[0] == '1'}">
									<form th:action="@{/student/report/edit}" method="post">
										<input type="hidden" name="reportDocId"
											th:value="${requestList.reportDoc.reportDocId}" />
										<input type="hidden" name="consent"
											th:value="${requestList.consent}" />
										<p th:switch="${requestList.consent}">
											<td th:case="0"></td>
											<td th:case="1"><button class="btn-sm btn-primary" type="submit">修正</button></td>									
											<td th:case="2"><button class="btn-sm btn-primary" type="submit">報告</button></td>								
											<td th:case="3"></td>
											<td th:case="4"><button class="btn-sm btn-primary" type="submit">修正</button></td>
											<td th:case="5"></td>
										</p>
									</form>
								</div>
								</td>
								
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<script>
	$(function(){
		$("tr:has(td.submit)").addClass("table-info");
		$("tr:has(td.cancel)").addClass("table-danger");
		$("tr:has(td.end)").addClass("table-active");
	});
	</script>
</body>
</html>