<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
<link rel="stylesheet" href="../css/open-iconic-bootstrap.css" th:href="@{/font/css/open-iconic-bootstrap.css}">
    <link href="../css/base.css"  th:href="@{/css/base.css}" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>報告書作成</title>
</head>

<body>
    <div id="header">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <img alt="ブランド" src="../img/bootstrap-solid.svg" width="45" height="30" />
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#Navber" aria-controls="Navber" aria-expanded="false" aria-label="ナビゲーションの切替">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="Navber">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/student/home}">ホーム</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/student/chat}">チャット</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/student/request}">申請書作成</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" th:href="@{/student/report}">報告書作成</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/student/report_log}">報告書倉庫</a>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/signout" th:hred="@{/signout}">つじひろや</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"> <span class="oi oi-account-logout"></span>
                            <i class="fa fa-sign-out"></i> ログアウト</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <div class="row pt-5">
                    <h3>報告書作成</h3>
                </div>
                <div class="form pt-1">
                    <form th:action="@{/student/report_check}" th:object="${reportDocForm}" method="post">
                        <div class="form-group">
                            <div class="form-group">
                                <label><h5>企業名</h5></label>
                                <input type="text" class="form-control" id="inputText" name="corporateName" th:field="*{corporateName}" placeholder="株式会社田中システムズ"/>
                            </div>
                        </div>
                        <div class="form-group">
            				<label class="control-label"><h5>知った方式</h5></label>
            					<div class="custom-control custom-radio" th:each="item : ${knownMethods}">
              					
                					<input type="radio" class="custom-control-input" name="fradio" th:value="${item.value}" th:field="*{knownMethod}"></input>
	              						<label class="custom-control-label" th:for="${#ids.prev('knownMethod')}"　th:text="${item.key}"></label>
              						
            					</div>
            				<span th:if="${#fields.hasErrors('knownMethod')}" th:errors="*{knownMethod}" class="help-block">error!</span>
        				</div>
        				<div class="form-group">
                            <label><h5>イベント日時</h5></label>
            				<input type="datetime-local" class="form-control" id="eventDate" name="eventDate" th:field="*{eventDate}" />
            				<span th:if="${#fields.hasErrors('eventDate')}" th:errors="*{eventDate}" class="help-block">error!</span>
          				</div>
                       <div class="form-group">
                            <div class="form-group">
                                <label><h5>イベント施設名</h5></label>
                                <input type="text" class="form-control" id="eventPlace" name="eventPlace" th:field="*{eventPlace}" placeholder="EDCタワー 100階"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-group">
                                <label><h5>通知日数</h5></label>
                                <input type="number" class="form-control" id="noticeDays" name="noticeDays" th:field="*{noticeDays}" placeholder="1"/>
                            </div>
                        </div>
                        <div class="form-group">
            				<label class="control-label"><h5>通知対象</h5></label>
            					<div class="custom-control custom-radio" th:each="item : ${noticeTargets}">
              					
                					<input type="radio" class="custom-control-input" name="noticeTarget" th:value="${item.value}" th:field="*{noticeTarget}"></input>
	              						<label class="custom-control-label" th:for="${#ids.prev('noticeTarget')}"　th:text="${item.key}"></label>
              						
            					</div>
            				<span th:if="${#fields.hasErrors('noticeTarget')}" th:errors="*{noticeTarget}" class="help-block">error!</span>
        				</div>
                        <div class="form-group">
            				<label class="control-label"><h5>通知方式</h5></label>
            					<div class="custom-control custom-radio" th:each="item : ${noticeMethods}">
              					
                					<input type="radio" class="custom-control-input" name="noticeMethod" th:value="${item.value}" th:field="*{noticeMethod}"></input>
	              						<label class="custom-control-label" th:for="${#ids.prev('noticeMethod')}"　th:text="${item.key}"></label>
              						
            					</div>
            				<span th:if="${#fields.hasErrors('noticeMethod')}" th:errors="*{noticeMethod}" class="help-block">error!</span>
        				</div>
        				<div class="form-group">
                            <div class="form-group">
                                <label><h5>通知日数</h5></label>
                                <input type="number" class="form-control" id="examTimes" name="examTimes" th:field="*{examTimes}" placeholder="1"/>
                            </div>
                        </div>
                        <div class="form-group">
            				<label class="control-label"><h5>試験内容</h5></label>
            					<div class="custom-control custom-checkbox" th:each="item : ${examContents}">
              					
                					<input type="checkbox" class="custom-control-input" name="examContent" th:value="${item.value}" th:field="*{examContent}"></input>
	              						<label class="custom-control-label" th:for="${#ids.prev('examContent')}"　th:text="${item.key}"></label>
              						
            					</div>
            				<span th:if="${#fields.hasErrors('examContent')}" th:errors="*{examContent}" class="help-block">error!</span>
        				</div>
                         <div class="form-group">
            				<label class="control-label"><h5>面接内容</h5></label>
            					<div class="custom-control custom-checkbox" th:each="item : ${interviewContents}">
              					
                					<input type="checkbox" class="custom-control-input" name="interviewContent" th:value="${item.value}" th:field="*{interviewContent}"></input>
	              						<label class="custom-control-label" th:for="${#ids.prev('interviewContent')}"　th:text="${item.key}"></label>
              						
            					</div>
            				<span th:if="${#fields.hasErrors('interviewContent')}" th:errors="*{interviewContent}" class="help-block">error!</span>
        				</div>
        				<div class="form-group">
                                <label><h5>メモ</h5></label>
                                <textarea rows="3" cols="80" class="form-control" id="memo" name="memo" th:field="*{memo}" placeholder="その他の内容、作文のテーマ、面接官の人数、集団面接の人数、グループ作業のテーマ、面接内容な"></textarea>
                        </div>
                        <div class="form-group">
        					<label class="control-label" for="teacherName">承認先</label>
        					<select class="custom-select d-block w-100" th:field="*{teacherName}">
            					<option value="">---</option>
            					<option th:each="item : ${teacherNames}" th:value="${item.value}" th:text="${item.key}">pulldown</option>
        					</select>
        					<div th:if="${#fields.hasErrors('teacherName')}" th:errors="*{teacherName}" class="help-block">error</div>
    					</div>
                        
                        <div class="form-group row">
                            <button type="submit" class="btn btn-primary offset-10">送信する</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
