<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
<link rel="stylesheet" href="../css/open-iconic-bootstrap.css" th:href="@{/font/css/open-iconic-bootstrap.css}">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>申請書作成</title>
</head>

<body>
    <div id="header">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <img alt="ブランド" src="../img/bootstrap-solid.svg" width="45" height="30" />
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#Navber" aria-controls="Navber" aria-expanded="false" aria-label="ナビゲーションの切替">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="Navber">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/student/home}">ホーム</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/student/chat}">チャット</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" th:href="@{/student/request}">申請書作成</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/student/report}">報告書作成</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/student/report_log}">報告書倉庫</a>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">つじひろや</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/signout" th:hred="@{/signout}"><span class="oi oi-account-logout"></span>
                            <i class="fa fa-sign-out"></i> ログアウト</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <div class="row pt-5">
                    <h3>申請書作成</h3>
                </div>
                <div class="form pt-1">
                    <form th:action="@{/student/request_check}" th:object="${requestDocForm}" method="post">
                    <div class="form-group">
                            <label><h5>イベント日時</h5></label>
            				<input type="datetime-local" class="form-control" id="eventStartDate" name="eventStartDate" th:field="*{eventStartDate}" />
            				<span th:if="${#fields.hasErrors('eventStartDate')}" th:errors="*{eventStartDate}" class="help-block">error!</span>
          					<label>から</label>
          					<input type="datetime-local" class="form-control" id="eventEndDate" name="eventEndDate" th:field="*{eventEndDate}" />
          					<label>まで</label>
          				</div>
                        <div class="form-group">
                            <div class="form-group">
                                <label><h5>イベント施設名</h5></label>
                                <input type="text" class="form-control" id="eventPlace" name="eventPlace" th:field="*{eventPlace}" placeholder="EDCタワー 100階"/>
                            </div>
                        </div>
                        <div class="form-group">
            				<label class="control-label"><h5>内容</h5></label>
            					<div class="custom-control custom-checkbox" th:each="item : ${contents}">
              					
                					<input type="checkbox" class="custom-control-input" name="content" th:value="${item.value}" th:field="*{content}"></input>
	              						<label class="custom-control-label" th:for="${#ids.prev('content')}"　th:text="${item.key}"></label>
              						
            					</div>
            				<span th:if="${#fields.hasErrors('Content')}" th:errors="*{Content}" class="help-block">error!</span>
        				</div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">参加企業名</label>
                                <input type="text" class="form-control" id="corporateOneName" name="corporateOneName" th:field="*{corporateOneName}" placeholder=""/>
                            <div class="form-check custom-control custom-checkbox">
                                <input type="checkbox" class="form-check-input custom-control-input" value="" id="defaultCheck1">
                                <label class="form-check-label custom-control-label" for="defaultCheck1">
                                    進める
                                </label>
                            </div>
                                <input type="text" class="form-control" id="corporateTwoName" name="corporateTwoName" th:field="*{corporateTwoName}" placeholder=""/>
                            <div class="form-check custom-control custom-checkbox">
                                <input type="checkbox" class="form-check-input custom-control-input" value="" id="defaultCheck1">
                                <label class="form-check-label custom-control-label" for="defaultCheck1">
                                    進める
                                </label>
                            </div>
                                <input type="text" class="form-control" id="corporateThreeName" name="corporateThreeName" th:field="*{corporateThreeName}" placeholder=""/>
                            <div class="form-check custom-control custom-checkbox">
                                <input type="checkbox" class="form-check-input custom-control-input" value="" id="defaultCheck1">
                                <label class="form-check-label custom-control-label" for="defaultCheck1">
                                    進める
                                </label>
                            </div>
                                <input type="text" class="form-control" id="corporateFourName" name="corporateFourName" th:field="*{corporateFourName}" placeholder=""/>
                            <div class="form-check custom-control custom-checkbox">
                                <input type="checkbox" class="form-check-input custom-control-input" value="" id="defaultCheck1">
                                <label class="form-check-label custom-control-label" for="defaultCheck1">
                                    進める
                                </label>
                            </div>
                                <input type="text" class="form-control" id="corporateFiveName" name="corporateFiveName" th:field="*{corporateFiveName}" placeholder=""/>
                            <div class="form-check custom-control custom-checkbox">
                                <input type="checkbox" class="form-check-input custom-control-input" value="" id="defaultCheck1">
                                <label class="form-check-label custom-control-label" for="defaultCheck1">
                                    進める
                                </label>
                            </div>
                        </div>

                        <div class="form-group">
                            <label><h5>早退</h5></label>
            				<input type="datetime-local" class="form-control" id="leaveDate" name="leaveDate" th:field="*{leaveDate}"/>
                            <label>から</label>
                        </div>
                        <div class="form-group">
                            <label><h5>欠席</h5></label>
            				<input type="datetime" class="form-control" id="absentStartDate" name="absentStartDate" th:field="*{absentStartDate}" placeholder="yyyy/MM/dd"/>
                            <label>から</label>
                        <div class="form-group">
            				<input type="datetime" class="form-control" id="absentEndDate" name="absentEndDate" th:field="*{absentEndDate}" placeholder="yyyy/MM/dd"/>
                            <label>まで</label>
                        </div>
                        <div class="form-group">
                            <label><h5>遅刻</h5></label>
            				<input type="datetime-local" class="form-control" id="delayDate" name="delayDate" th:field="*{delayDate}" />
                            <label>から</label>
                        </div>
                        <div class="form-group">
                                <label><h5>メモ</h5></label>
                                <textarea rows="3" cols="80" class="form-control" id="memo" name="memo" th:field="*{memo}" placeholder="その他の内容、作文のテーマ、面接官の人数、集団面接の人数、グループ作業のテーマ、面接内容な"></textarea>
                        </div>
                        <div class="form-group">
        					<label class="control-label" for="classTeacherName">承認先(担任)</label>
        					<select class="custom-select d-block w-100" th:field="*{classTeacherName}">
            					<option value="">---</option>
            					<option th:each="item : ${classTeacherNames}" th:value="${item.value}" th:text="${item.key}">pulldown</option>
        					</select>
        					<div th:if="${#fields.hasErrors('classTeacherName')}" th:errors="*{classTeacherName}" class="help-block">error</div>
    					</div>
    					<div class="form-group">
        					<label class="control-label" for="subjectTeacherName1">承認先（教科担任1）</label>
        					<select class="custom-select d-block w-100" th:field="*{subjectTeacherName1}">
            					<option value="">---</option>
            					<option th:each="item : ${subjectTeacherNames}" th:value="${item.value}" th:text="${item.key}">pulldown</option>
        					</select>
        					<div th:if="${#fields.hasErrors('subjectTeacherName1')}" th:errors="*{subjectTeacherName1}" class="help-block">error</div>
    					</div>
    					<div class="form-group">
        					<label class="control-label" for="subjectTeacherName2">承認先（教科担任2）</label>
        					<select class="custom-select d-block w-100" th:field="*{subjectTeacherName2}">
            					<option value="">---</option>
            					<option th:each="item : ${subjectTeacherNames}" th:value="${item.value}" th:text="${item.key}">pulldown</option>
        					</select>
        					<div th:if="${#fields.hasErrors('subjectTeacherName2')}" th:errors="*{subjectTeacherName2}" class="help-block">error</div>
    					</div>
                        <div class="form-group row">
                            <button type="submit" class="btn btn-primary offset-10">送信する</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
