<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link href="../css/open-iconic-bootstrap.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>登録申請一覧</title>
</head>

<body>
    <div id="header">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <img alt="ブランド" src="../img/bootstrap-solid.svg" width="45" height="30" />
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#Navber" aria-controls="Navber" aria-expanded="false" aria-label="ナビゲーションの切替">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="Navber">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/teacher/home}">ホーム</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/teacher/chat}">チャット</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" th:href="@{/teacher/signup_request}">学生登録管理</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/teacher/students_manager}">学生管理</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/teacher/report_log}">報告書倉庫</a>
                    </li>
                </ul>
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#">斎藤 一</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"> <span class="oi oi-account-logout"></span>
                            <i class="fa fa-sign-out"></i> ログアウト</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-10 offset-md-1">
                <div class="row pt-5">
                    <h3>学生登録管理</h3>
                </div>
                <div class="row pt-1">
                    <div class="col-12 clearfix">
                        <div class="float-right">
                            <form class="form-inline my-2 my-lg-0 ">
                                <input type="search" class="form-control mr-sm-2" placeholder="検索..." aria-label="検索...">
                                <button type="submit" class="btn btn-outline-success my-2 my-sm-0">検索</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="row pt-1">
                    <table class="table">
                        <thead class="thead-light">
                            <tr>
                                <th>日付</th>
                                <th>学籍番号</th>
                                <th>クラス</th>
                                <th>名前</th>
                                <th>あいことば</th>
                                <th>確認</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="table-info" th:each="user:${users}">
                                <td>2019/11/11</td>
                                <td th:text="${user.userId}">ID</td>
                                <td th:text="${user.className}">クラス</td>
                                <td th:text="${user.userName}">名前</td>
                                <td th:text="${user.watchWord}">あいことば</td>
                                <td><a class="btn-sm btn-primary" href="#" role="button">確認</a>
                                </td>
                            </tr>
                            <tr class="table-info">
                                <td>2019/11/12</td>
                                <td>20191002</td>
                                <td>R3Ax03</td>
                                <td>斎藤京子</td>
                                <td>マイナビリクナビ</td>
                                <td><a class="btn-sm btn-primary" href="#" role="button">確認</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</body></html>
